<div class="container-fluid">
  <br>
  Poloniex比特币价格：<%= @usdt_btc %>
  <br>
  云币比特币价格：<%= @btc_yunbi %>
  <br>
  <br>
  Poloniex以太坊价格：<%= @usdt_eth %>
  <br>
  云币以太坊价格：<%= @eth_yunbi %>
  <br>
  <%#= @exchange_rate %>
</div>
