<%= render "common/mobile_navbar" %>

<div class="one-word-navbar">
  <div class="navbar-logo pull-left"></div>
  <div class="container navbar-content">
    <span class="one-word">编程习作、框架、组件</span>
    <%= render "common/right_navbar" %>
    <hr>
    <span class="one-word-english">Framework & Building block</span>
  </div>
</div>
