<div class="welcome-page-navbar">
  <div class="navbar-logo pull-left"></div>
  <div class="container navbar-content">
    <span class="welcome-one-word">编程习作、框架、组件</span>
    <div class="login pull-right">
      <span><%= link_to "技术文章", posts_path %></span>
      <span><%= link_to "编程习作", programme_demos_path %></span>
      <span><%= link_to "设计习作", design_works_path %></span>
      <span><%= link_to "登入", new_user_session_path %></span>
    </div>
    <hr>
    <span class="welcome-one-word-english">Framework</span>
  </div>
</div>
