<div class="welcome-page-navbar">
  <div class="navbar-logo pull-left"></div>
  <div class="container navbar-content">
    <span class="welcome-one-word">据说程序员的前世是魔术师</span>
    <span class="login pull-right">login</span>
    <hr>
    <span class="welcome-one-word-english">Software development is the process of making impossible possible</span>
  </div>
</div>
