<div class="welcome-page container">

  <div class="col-md-4 text-center">
    <div class="technology-article">
      <%= image_tag("technology-article.png") %>
  </div>
  </div>
    <div class="col-md-4 text-center">
      <div class="programme-demo">
        <%= image_tag("programme-demo.png") %>
      </div>

    </div>
    <div class="col-md-4 text-center">
      <div class="design-work">
        <%= image_tag("design-work.png") %>
      </div>
    </div>
    <div class="col-md-8">
      <div class="about-me">
        <div class="col-md-6">
          <span>Facebook</span>
          <span>Twitter</span>
          <span>WeChat</span>
        </div>
        <div class="col-md-6">
          <span>Zengzheng</span>
          <span>Ruby on Rails Developer</span>
          <span>UI & Web Designer</span>
        </div>
      </div>
    </div>
</div>
