<div class="wrapper wrapper_padding clearfix">
  <div class="col-1 about homepage_content">
    <h2>geng 更新日志／Redmine</h2>
    <hr>
    <p>本书作者斋藤孝，1960年出生于日本静冈县。
      毕业于东京大学法学部，并在该大学研究生院教
      育学研究科修完博士课程，
      </p>
      <p>现为日本明治大学文
      学部教授，也是一名教育学者，在教育学方面上
      有着自己独到的见解。主要著作有《读书的力量》
      《提问力》《规划力》等。<a href="#">查看更多</a>
</p>
  </div>
  <div class="col-2 homepage_content">
    <h2>技术文章</h2>
    <hr>
    <h3><a href="#">如何学习jQurey</a></h3>
    <p class="date"> Thursday, January 26</p>
    <h3><a href="#">写前端的若干方法</a></h3>
    <p class="date">Thursday, January 26</p>
    <h3><a href="#">测试小套路</a></h3>
    <p class="date">Thursday, January 26</p>
  </div>
  <div class="col-3 homepage_content">
    <h2>项目资料</h2>
    <hr>
    <h3><a href="#">jQurey小功能</a></h3>
    <p class="date"> Thursday, January 26</p>
    <h3><a href="#">前端设计图</a></h3>
    <p class="date">Thursday, January 26</p>
    <h3>测试小套路</a></h3>
    <p class="date">Thursday, January 26</p>
  </div>
</div>
