<div class="welcome-page container">
    <%= link_to "技术文章", posts_path, class: "technology-article" %>
    <%= link_to "编程小品", programme_demos_path, class: "programme-demo" %>
    <%= link_to "设计作品", pins_path, class: "design-work" %>
</div>
