<%= render "navbar" %>

<div class="welcome-page container">
  <div class="col-md-4 text-center">
    <div class="technology-article">
      <%= link_to image_tag("technology-article.png"), posts_path, class:"technology-article-image" %>
  </div>
  </div>
    <div class="col-md-4 text-center">
      <div class="programme-demo">
        <%= link_to image_tag("programme-demo.png"), programme_demos_path, class:"programme-demo-image" %>
      </div>

    </div>
    <div class="col-md-4 text-center">
      <div class="design-work">
        <%= link_to image_tag("design-work.png"), design_works_path, class:"design-work-image" %>
      </div>
    </div>
    <div class="col-md-8">
      <div class="about-me">
        <div class="col-md-6 social-profiles">
          <span>Facebook</span>
          <span>Twitter</span>
          <span>WeChat</span>
        </div>
        <div class="col-md-6 my-message text-right">
          <span class="my-name">Zengzheng</span><br>
          <span class="my-profession-one">Ruby on Rails Developer</span><br>
          <span class="my-profession-two">UI & Web Designer</span>
        </div>
      </div>
    </div>
</div>
