<div class="design-work-navbar">
  <%= render "common/mobile_navbar" %>
</div>


<div class="one-word-navbar">
  <div class="navbar-logo pull-left"></div>
  <div class="container navbar-content">
    <span class="design-work-word one-word">每天练习才是变强的关键</span>
    <%= render "common/right_navbar" %>
    <hr>
    <span class="one-word-english">Design is all about solving problems.</span>
  </div>
</div>
