<div class="design-works-content">
  <div class="container">
    <% @design_works.each do |design_work| %>
    <div class="col-md-4 col-sm-6 col-xs-12 design-works-box">
      <div class="design-works-image">
        <%= link_to design_work_path(design_work) do %>
            <%= image_tag(design_work.image.url) %>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>
