<%= render "common/mobile_navbar" %>

<div class="one-word-navbar">
  <div class="navbar-logo pull-left"></div>
  <div class="container navbar-content">
    <span class="one-word">记录，让错误与无知不再重复</span>
    <%= render "common/right_navbar" %>
    <hr>
    <span class="one-word-english">Nothing in life is to be feared, it is only to be understood.</span>
  </div>
</div>
