<div class="welcome-page-navbar">
  <div class="navbar-logo pull-left"></div>
  <div class="container navbar-content">
    <span class="welcome-one-word">记录，让错误与无知不再重复</span>
    <div class="login pull-right">
      <span>技术文章</span>
      <span>编程习作</span>
      <span>设计习作</span>
      <span>登入</span>
    </div>
    <hr>
    <span class="welcome-one-word-english">Nothing in life is to be feared, it is only to be understood.</span>
  </div>
</div>
