<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <% @posts.each do |post| %>
        <p class="date text-center"><%= post.created_at.strftime('%A, %B %d') %></p>
        <h2 class="text-center"><%= link_to(post.title, post_path(post)) %></h2>
        <hr class="small">
        <p><%= markdown post.content %></p>
      <br>
      <% end %>
    </div>
  </div>
</div>
