// Place all the styles related to the design_works controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.design-works-controller{

  background-color: #f4f4f4;
  height: 100%;
}

.design-works-box{
  margin-top: 30px;
}

.design-works-image{
  border: 10px solid #ffffff;
  box-shadow: 0 2px 4px 0 #EFEFEF;
  border-radius: 3px;
  img{
    max-width: 100%;
  }
}
