// Place all the styles related to the pins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-setting";


.pins-controller{
  // background: #E9E9E9;
  /* 設定高度最小為100%, 如果內容區塊很多, 可以長大 */
  min-height: 100%;
  /* 位置設為relative, 作為footer區塊位置的參考 */
  position: relative;
  padding-bottom: 70px;
   .navbar-default{
     padding-top: 10px;
     padding-bottom: 8px;
     background-color: white;
     i{
       color: $highlight;
     }
     a{
       color: $dark;
     }
     p, li {
       font-size: 1.25rem;
       line-height: 1.75;
     }
     .navbar-nav{
       li{
          a{
           color: $dark;
         }
         a:hover{
           color: $highlight;
         }
       }
     }
  }
}

#pins {
  margin: 0 auto;
  width: 100%;
  .box {
    margin: 10px;
    width: 265px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.08);
    border-radius: 7px;
    text-align: center;
    img {
      max-width : 100%;
      height: auto;
    }
    h2 {
      font-size: 18px;
      margin: 0;
      padding: 0px 10px;
      a {
        color: $dark;
        text-decoration: none;
      }
      a:hover {
        color: $highlight;
      }
    }
  }
}

#pin_show {
  margin-top: 20px;
  .panel-heading {
    padding: 0;
  }
  .pin_image {
    img {
      max-width: 100%;
      width: 100%;
      display: block;
      margin: 0 auto;
    }
  }
  .panel-body {
    padding: 35px;
    h1 {
      margin: 0 0 10px 0;
    }
    .description {
      color: $dark;
      line-height: 1.75;
      margin: 0;
    }
  }
  .panel-footer{
    padding: 20px 35px;
    p {
      margin: 0;
    }
    .btn-group{
      a {
        color: $dark;
        text-decoration: none;
      }
      a:hover {
        color: $highlight;
      }
    }
    .handle {
    }
  }
}
