// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import "application";

.content{
  // padding: 1em 5%;
  width: 100%;
  height: 100%;

  .left-sidebar{
    padding: 3em 4%;
    position: fixed;
    width: 20%;
    height: 100%;
    float: left;
  }
  .right-body{
    // border-left: 1px solid $border;
    width: 80%;
    float: right;
    padding: 0 2.5%;
    max-width: 800px;
  }
}




#posts_wrapper {
  padding: 3em 0;
  .post {
    .date {
      font-size: .9em;
      text-align: center;
      margin: 0;
    }
    h2 {
      margin: 0;
      text-align: center;
      font-size: 2em;
      text-transform: uppercase;
      a {
        text-decoration: none;
        color: $dark;
        &:hover {
          color: $highlight;
        }
      }
    }
    hr {
      margin: 2em auto;
    }
  }
}

#post_show_content {
  header {
    text-align: center;
    .date {
      font-size: .9em;
      color: $light;
      margin: 0;
    }
    h1 {
      margin: 0
    }
    hr {
      margin: 2em auto;
    }
  }
}


.content_input {
  #post_content{
    min-height: 500px;
  }
}
