// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import "bootstrap-setting";

// 文字
.posts-controller{

  h2.date{
    margin: 0px;
  }

  h1, h2, p, ul, li {
    color: $dark;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2em;
    a {
      color: $dark;
      text-decoration: none;
      text-transform: uppercase;
    }
    a:hover{
      color: $highlight;
    }
  }

  p, li {
    font-size: 1.25rem;
    line-height: 1.75;
  }
  p, ul, ol {
    margin: 0 0 1.6em 0;
  }
}

// 装饰元素

hr.small{
  max-width: 40px;
  margin: 15px auto;
  border-width: 2px;
  border-color: $highlight;
}

// 位置调整
