// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import "bootstrap-setting";

.posts-controller-index{
  margin-top: 120px;
}

.posts-left-sidebar{
  h5{
    a{
      margin-left: -15px;
      color: $dark;
      text-decoration: none;
    }
    a:hover{
      color: $highlight;
    }
  }
}

.post-content{
  border-left: 1px solid $border-color;
  padding-left: 40px;
  h2{
    margin-top: 0px;
    a{
      color: $dark;
      text-decoration: none;
    }
    a:hover{
      color: $highlight;
    }
  }
  hr{
    width: 40px;
    margin: 10px auto;
    border-width: 1px;
    border-color: $dark;
    float: left;
  }
  span.date{
    clear: both;
    margin-bottom: 35px;
    color: $light;
  }
  p{
    clear: both;
    margin: 0;
    line-height: 1.8;
  }
}
