// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-setting";

.welcome-page{
  margin-top: 50px;
}
.technology-article, .design-work, .programme-demo{
  display: inline-block;
  width: 30%;
  border: 1px solid $light;
  height: 200px;
  a :hover{
    border: 1px solid $highlight;
  }
}
