// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-setting";

.welcome-page{
  margin-top: 100px;

  .col-md-4,.col-md-8{
    padding-left: 0px;
    padding-right: 5px;
    margin-top: 5px;
  }
}

.technology-article,
.programme-demo,
.design-work,
.about-me{
  background-color: $dark;
}

.about-me{
  font-size: 14px;
  color: #fff;

  .social-profiles{
    position: absolute;
    bottom: 10px;
    span{
      margin-right: 10px;
    }
  }

  .my-message{
    position: absolute;
    right: 10px;
    bottom: 10px;
    span.my-profession-one,
    span.my-profession-two{
      color: $light;
    }
  }
}
