
@media (max-width:992px){
  .technology-article,
  .programme-demo,
  .design-work{
    padding-top: 65px;
  }
  .technology-article,
  .design-work,
  .programme-demo{
    height: 220px;
  }
  .about-me{
    height: 145px;
  }
  a.design-work-image,
  a.programme-demo-image,
  a.technology-article-image{
    img{width:100px;}
  }
}

@media (min-width:992px){
  .technology-article{
    padding-top: 140px;
    height: 380px;
  }
  .programme-demo{
    padding-top: 65px;
    height: 230px;
  }
  .design-work{
    padding-top: 65px;
    height: 230px;
  }
  .about-me{
    height: 145px;
  }
  a.design-work-image,
  a.programme-demo-image{
    img{width:100px;}
  }
  a.technology-article-image{
    img{width:120px;}
  }
}

@media (min-width:1200px){
  .technology-article{
    padding-top: 170px;
    height: 450px;
  }
  .programme-demo{
    padding-top: 100px;
    height: 300px;
  }
  .design-work{
    padding-top: 100px;
    height: 300px;
  }
  .about-me{
    height: 145px;
  }
  a.design-work-image,
  a.programme-demo-image{
    img{width:120px;}
  }
  a.technology-article-image{
    img{width:140px;}
  }
}
