// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-setting";
.welcome-page{
  margin-top: 50px;

  .col-md-4,.col-md-8{
    padding-left: 0px;
    padding-right: 5px;
    margin-top: 5px;
  }
}

.technology-article,
.programme-demo,
.design-work,
.about-me{
  background-color: #333333;
}

.about-me{
  font-size: 14px;
  color: #fff;
  padding-top: 110px;
}
