<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        © 2017  ZENG 的笔记本
      </div>
      <div class="col-md-6 text-right">
        <a href="#"><i class="fa fa-github" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>

</footer>
