<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-xs-6">
        © 2017  曾铮 ZENG ZHENG
      </div>
      <div class="col-md-6 col-xs-6 footer-icon">
        <ul class="list-inline text-right">
          <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
