<!DOCTYPE html>
<html>
  <head>
    <title>ZENG-Front end template</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="forn_end-controller">
    <%= yield %>
  </body>
</html>
